/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 3%;
}

thead th:nth-child(2) {
  width: 5%;
}

thead th:nth-child(3) {
  width: 5%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 5%;
}
thead th:nth-child(6) {
  width: 6%;
}
thead th:nth-child(7) {
  width: 6%;
}
thead th:nth-child(8) {
  width: 9%;
}
thead th:nth-child(9) {
  width:7%;
}
thead th:nth-child(10) {
  width: 5%;
}

thead th:nth-child(11) {
  width: 5%;
}
thead th:nth-child(12) {
  width: 5%;
}
thead th:nth-child(13) {
  width: 5%;
}

thead th:nth-child(14) {
  width: 12%;
}
thead th:nth-child(15) {
  width: 10%;
}


td {
  padding: 5px;;
  border: 1px solid black;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}